@model Gestion_Compras.Models.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-container">Gestión de Pañol</div>
<div class="container">
    <div class="login-form">
        <h2>Cambiar Contraseña</h2>
        <form asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label for="newPassword">Nueva Contraseña</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required>
            </div>
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </form>
    </div>
</div>
